/ {
	test_led: leds {
	compatible = "test-leds";
		led1 {
			label = "led1-label";
			led-gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;
		};
		led2 {
			label = "led2-label";
			led-gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
		};
		led3 {
			label = "led3-label";
			led-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
		};
	};
};
